<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skystore</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .product-image {
            max-width: 100%; /* Максимальная ширина */
            height: auto; /* Автоматическая высота для сохранения пропорций */
            width: 300px; /* Фиксированная ширина */
        }
    </style>
</head>
<body>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ product.category }}</h4>
            </div>
            <div class="card-body">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image mb-3">
                <h1 class="card-title pricing-card-title">{{ product.price }}₽</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>{{ product.name }}</li>
                    <li>{{ product.description }}</li>
                </ul>
                <a class="btn btn-primary" href="{% url 'catalog:product_detail' product.pk%}"
                   role="button">Посмотреть</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
