{% extends 'catalog/base.html' %}

{% block title %}
    Главная страница – Создание продукта
{% endblock %}

{% block content %}
<body>
<div class="mt-3">
    {% include 'catalog/_menu.html' %}
</div>
<div class="container mt-3">
    <h1 class="mb-4">Создание товара</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="{% url 'catalog:product_list' %}">Отмена</a>
    </form>
</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
{% endblock %}